/* CSS Document */
h1{
font-family:arial;
margin-top:30px;
color:#3298f8;
}

body{
background:#222;	
}

#wrapper{
width:800px;
height:600px;

margin:auto;
margin-top:50px;

background:#ddd;

border-radius:20px;
-webkit-border-radius:20px;	
}

#play{
margin:auto;

background:#1076d6;

width:600px;
height:200px;	

border-radius:20px;
-webkit-border-radius:20px;	

box-shadow: 0 0 10px #2187e7;
}

#win{
margin:auto;
text-align:center;

width:600px;
height:50px;

-webkit-animation:spin 3s infinite ease-in-out;
}

@-webkit-keyframes spin{
0% {-webkit-transform:rotate(-3deg);}
50% {-webkit-transform:rotate(3deg);}
100% {-webkit-transform:rotate(-3deg);}	
}