/* CSS Document */
h1{
font-family:arial;
margin-top:30px;
color:#3298f8;
}

body{
background:#222;	
}

#wrapper{
width:800px;
height:600px;

margin:auto;
margin-top:50px;

background:#ddd;	
}

#box1{
margin:auto;

background:#1076d6;

width:150px;
height:150px;	

-webkit-animation:spin 1s infinite ease-in-out;
}

@-webkit-keyframes spin{
0% {-webkit-transform:rotate(-3deg);box-shadow: 0 0 35px #2187e7;}
50% {-webkit-transform:rotate(3deg);box-shadow: 0 0 80px #2187e7;}
100% {-webkit-transform:rotate(-3deg);box-shadow: 0 0 35px #2187e7;}	
}